<!DOCTYPE html> 
<html> 
<head> 
  <title>Git Hub App Trial Page</title> 
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head> 

<body> 
    <div class = "container">
        <h1 class = "text-center">
            Github Profile Info
        </h1>
        <form action = "/getinfo" method = "post">
            <div class="form-group">
                <label for="email">Github Email:</label>
                <input type="email" class="form-control" name="email" placeholder="Enter Github Email" id="">
            </div>
            <div class="form-group">
                <button class="btn btn-dange btn-block">
                    Get Information
                </button>

            </div>
        </form>
        <form action = "/auth" method = "get">
            <div class="form-group">
                <button class="btn btn-dange btn-block">
                    Got to Github and Authorize App
                </button>
            </div>
        </form>
        <form action = "/notion" method = "get">
            <div class="form-group">
                <button class="btn btn-dange btn-block">
                    Notion and Authorize App
                </button>
            </div>
        </form>
        <form action = "/notionAuth" method = "get">
            <div class="form-group">
                <button class="btn btn-dange btn-block">
                    Got to Notion
                </button>
            </div>
        </form>
        <div id="result">
            <%if(profile){%>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>UserName</th>
                            <th>Location</th>
                            <th>Link</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%=profile.name%></td>
                            <td><%=profile.login%></td>
                            <td><%=profile.location%></td>
                            <td><%=profile.html_url%></td>
                            <td>
                                <img width="100" height= "100" class ='img-thumbnail img-responsive' src="<%=profile.avatar_url%>" alt="">
                            </td>
                        </tr>
                    </tbody>

                </table>
            <%}%>

        </div>
    </div>
</body> 
</html>